<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Tuqan</title>
    <meta name="Generator" content="Tuqan" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/tuqan.css" type="text/css" />
    <script type="text/javascript" src="javascript/cookies.js"></script>
    <script type="text/javascript" src="javascript/caracteristicas.js"></script>
</head>
<body>

</body>
</html>
