<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Tuqan</title>
    <meta name="Generator" content="Tuqan" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/tuqan.css" type="text/css" />
</head>
<body>
<div id="cabecera1"></div>
<div id="cabecera2"><img class="logo_tuqan" src="/images/logotipo-tuqan.svg"></div>
<div id="cabecera3">
    <h1 class="titulo_cabecera">Gestión de Calidad y Medioambiente</h1>
</div>
<div id="cabecera4"></div>
<div id="cabecera5"></div>
<div id="login">{{ FormTitle }}</div>
<div id="contenedor">
    <div id="izquierda"></div>
    <div id="central" align="center">
        {{ FormContent|raw }}
    </div>
    <div id="derecha"></div>
</div>
<div id="logos">
    <div id="Esq_Izq"></div>
    <div id="Borde_Inf"></div>
    <div id="Esq_Der"></div>
</div>
<script type="text/javascript" src="/javascript/cookies.js"></script>
<script type="text/javascript" src="/javascript/focus.js"></script>
<script type="text/javascript" src="/javascript/recargarIndex.js"></script>
</body>
</html>
