<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Tuqan</title>
    <meta name="Generator" content="Tuqan" />
    <link rel="stylesheet" href="/css/tuqan.css" type="text/css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div id="cabecera2">
        <img class="logo_tuqan" src="/images/logotipo-tuqan.svg" alt="Logotipo Tuqan">
    </div>
</div>
<div class="row">
    <div id="cabecera3">
        <h1 class="titulo_cabecera">Gestión de Calidad y Medioambiente</h1>
    </div>
</div>
<div class="row">
    <div id="usuariodiv" class="col-md-2 col-sm-6">
        <span>{{ UserTitle }}</span>
        <em>{{ UserName }}</em>
    </div>
    <div id="titulo" class="col-md-2 col-sm-6">Esta ud. en:</div>
    <div class="collapse navbar-collapse col-md-8 col-sm-12" id="submenu"></div>
    <div id="BordeIzq"></div>
</div>
<div id="separador"></div>
<div class="container-fluid">
    <div class="row">
        <div id="contenido">
            <div id="contenedor">
                <div id="izquierda"></div>
                <div id="central" align="center">
                </div>
                <div id="derecha"></div>
            </div>
        </div>
        <div id="diveditor"></div>
        <div id="diviframe"></div>
    </div>
    <div id="wait"></div>
    <div id="divayuda"></div>
    <div id="ficheros"></div>
    <div id="logos">
        <div id="Esq_Izq"></div>
        <div id="Borde_Inf"></div>
        <div id="Esq_Der"></div>
    </div>
</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous" type="text/javascript">
</script>
<script type="text/javascript" src="/javascript/cookies.js"></script>
<script type="text/javascript" src="/javascript/really_simple_history/dhtmlHistory.js"></script>
<script type="text/javascript" src="/javascript/Manejador_Ajax.js"></script>
<script type="text/javascript" src="/javascript/ayuda.js"></script>
</body>
</html>
